torch
torchvision
pretrainedmodels
numpy
matplotlib
future
pyyaml
tqdm
onnxruntime==1.14.1
basicsr>=1.4.2
easydict==1.9.0
scikit-learn
pandas
albumentations==0.5.2
pytorch-lightning==1.2.9
kornia==0.5.0
webdataset
omegaconf
dlib==19.21.0
opencv-python==4.5.3.56
